.full-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.player-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px 40px 0;
}

.selected-players {
  background-color: rgb(112, 128, 144, 0.4);
}
